@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.settingsSelector{
    background-color: rgb(242, 242, 242) !important;
    border-radius: 0.4rem;
    box-shadow: none;
}

/* dark scheme for settingsSelector */
@media (prefers-color-scheme: dark) {
    .settingsSelector{
        background-color: rgb(58, 59, 67) !important;
    }
}

@font-face {
    font-family: "Inter";
    src: url("./resources/Inter.ttf");
}